notebook
kagglehub
jupyterlab
ipywidgets
mlcroissant
jupyter-lsp
python-dotenv
jupyterlab-lsp
jedi-language-server
kagglehub[pandas-datasets]
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator