numpy
pandas
seaborn
matplotlib
statsmodels
featuretools
scikit-learn
tensorflow==2.18.0
notebook
jupyterlab
ipywidgets
jupyter-lsp
jupyterlab-lsp
python-dotenv
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator